<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.military.quizthirtysixthree"
    android:versionCode="7"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20"
        tools:ignore="GradleOverrides,OldTargetApi" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_campaign_hat_no_background"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GradeActivity"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>